<h1>add new exercise here</h1>
<h2>add exercise from list</h2>
<form action="{% url 'exerciseadded' %}" name="addexercise" method="POST">
{% csrf_token %}
pick an exercise from the list<br>
<select name="exercisename">
{% for Exercises in exerciselist %}
    <option>{{ Exercises.exercisename }}</option>
{% endfor %}
</select>
Day to do it: <select name="day">
                 <option value="monday">monday</option>
                 <option value="tuesday">tuesday</option>
                 <option value="wednesday">wednesday</option>
                 <option value="thursday">thursday</option>
                 <option value="friday">friday</option>
                 <option value="saturday">saturday</option>
                 <option value="sunday">sunday</option>
              </select>
<br>
<input type="hidden" name="new" value="false">
<input type="submit" value="addexercise">
</form>
<h2>or make a new exercise</h2>
<form action="{% url 'exerciseadded' %}" name="addexercise" method="POST">
{% csrf_token %}
exercise name: <input type="text" name="exercisename"><br>
exercise description: <input type="text" name="exercisedescription"><br>
musclegroup: <input type="text" name="musclegroup"><br>
Day to do it: <select name="day">
		 <option value="monday">monday</option>
		 <option value="tuesday">tuesday</option>
		 <option value="wednesday">wednesday</option>
		 <option value="thursday">thursday</option>
		 <option value="friday">friday</option>
		 <option value="saturday">saturday</option>
		 <option value="sunday">sunday</option>
	      </select>
<br>
<input type="hidden" name="new" value="true">
<input type="submit" value="addexercise">
</form>
