
<h1 align="center">{{ currentroutine }}</h1>

<table border=1 align="center">
<tr>
    <td>exercise</td>
{% for x in routinelength %}
    <td width="60">week {{ x }}</td>
{% endfor %}
</tr>

{% for day in day %}
<tr><th colspan="{{ routinetime }}">{{ day }}</th></tr>
{% for Exercisespecific in exerciselist %}
{% if Exercisespecific.day = day %}
<tr>
    <td>{{ Exercisespecific.Exercise }}</td>
    {% for x in routinelength %}
	<td>&nbsp;</td>
    {% endfor %}
</tr>
{% endif %}
{% endfor %}
{% endfor %}

</table>
<br><br>
<a href="{% url 'exercise' %}">add/remove an exercise</a>
<br>

