
<h1>{{ currentroutine }}</h1>

<table border=1>
<tr>
    <td>exercise</td>
{% for x in routinelength %}
    <td>week {{ x }}</td>
{% endfor %}
</tr>
<tr>
    <th colspan="{{ routinetime }}">monday</th>
</tr>
{% for Exercisespecific in mondayexercise %}
<tr>
    <td>{{ Exercisespecific.Exercise }}</td>
    {% for x in routinelength %}
	<td>&nbsp;</td>
    {% endfor %}
</tr>
{% endfor %}
<tr><th colspan="{{ routinetime }}">tuesday</th></tr>
{% for Exercisespecific in tuesdayexercise %}
<tr>
    <td>{{ Exercisespecific.Exercise }}</td>
    {% for x in routinelength %}
	<td>&nbsp;</td>
    {% endfor %}
</tr>
{% endfor %}
<tr><th colspan="{{ routinetime }}">wednesday</th></tr>
{% for Exercisespecific in wednesdayexercise %}
<tr>
    <td>{{ Exercisespecific.Exercise }}</td>
    {% for x in routinelength %}
        <td>&nbsp;</td>
    {% endfor %}
</tr>
{% endfor %}
<tr><th colspan="{{ routinetime }}">thursday</th></tr>
{% for Exercisespecific in thursdayexercise %}
<tr>
    <td>{{ Exercisespecific.Exercise }}</td>
    {% for x in routinelength %}
        <td>&nbsp;</td>
    {% endfor %}
</tr>
{% endfor %}
<tr><th colspan="{{ routinetime }}">friday</th></tr>
{% for Exercisespecific in fridayexercise %}
<tr>
    <td>{{ Exercisespecific.Exercise }}</td>
    {% for x in routinelength %}
        <td>&nbsp;</td>
    {% endfor %}
</tr>
{% endfor %}
<tr><th colspan="{{ routinetime }}">saturday</th></tr>
{% for Exercisespecific in saturdayexercise %}
<tr>
    <td>{{ Exercisespecific.Exercise }}</td>
    {% for x in routinelength %}
        <td>&nbsp;</td>
    {% endfor %}
</tr>
{% endfor %}
<tr><th colspan="{{ routinetime }}">sunday</th></tr>
{% for Exercisespecific in sundayexercise %}
<tr>
    <td>{{ Exercisespecific.Exercise }}</td>
    {% for x in routinelength %}
        <td>&nbsp;</td>
    {% endfor %}
</tr>
{% endfor %}


</table>
<a href="{% url 'exercise' %}">add an exercise</a>

